/* Estilos Globais */
:root {
    --cor-primaria: #0E4068;
    --cor-secundaria: #00B9A6;
    --cor-secundaria-transparente: rgba(0, 185, 166, 0.5);
    --cor-fundo-primaria: #D9D9D9;
    --cor-fundo-secundaria: #F7F7F7;
    --cor-titulos: #0E4068;
    --cor-texto-dark: #000;
    --cor-texto-light: #fff;
    --estilo-texto-principal: 'Arial, sans-serif';
    --estilo-texto-secundario: 'Georgia, serif';
}

/* Reset Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do Fundo */
body {
    background-color: var(--cor-fundo-primaria);
    color: var(--cor-texto-dark);
    font-family: var(--estilo-texto-principal);
    line-height: 1.6;
}
/* Estilos do Cabeçalho */

header {
    background-color: var(--cor-fundo-secundaria);
    color: var(--cor-texto-dark);
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
}

.logo-titulo {
    display: flex;
    align-items: center;
}

.logo-titulo h1 {
    color: var(--cor-titulos);
    font-size: 2rem;
}

.logo-titulo img {
    height: 50px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.container-header ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.container-header a {
    text-decoration: none;
    color: var(--cor-texto-dark);
    font-weight: bold;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 16px;
}

.container-header a:hover {
    background-color: var(--cor-secundaria-transparente);
    transition: background-color 0.3s, color 0.1s;
}

.container-header li:hover {
    transition: transform 0.1s;
    transform: translateY(-2px) scale(1.05);
}

/* Estilo hero */

.container-hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-hero h1 {
    font-size: 3rem;
    color: var(--cor-titulos);
    margin-bottom: 20px;
}

.container-hero p {
    font-size: 1.5rem;
    color: var(--cor-texto-dark);
    max-width: 600px;
}

.container-hero button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-light);
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 16px;
}

/* Estilos do Fundo */
body {
    background-color: var(--cor-fundo-primaria);
    color: var(--cor-texto-dark);
    font-family: var(--estilo-texto-principal);
    line-height: 1.6;
}
/* Estilos do Cabeçalho */

header {
    background-color: var(--cor-fundo-secundaria);
    color: var(--cor-texto-dark);
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
}

.logo-titulo {
    display: flex;
    align-items: center;
}

.logo-titulo h1 {
    color: var(--cor-titulos);
    font-size: 2rem;
}

.logo-titulo img {
    height: 50px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
}

.container-header ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.container-header a {
    text-decoration: none;
    color: var(--cor-texto-dark);
    font-weight: bold;
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 16px;
}

.container-header a:hover {
    background-color: var(--cor-secundaria-transparente);
    transition: background-color 0.3s, color 0.1s;
}

.container-header li:hover {
    transition: transform 0.1s;
    transform: translateY(-2px) scale(1.05);
}

/* Estilo hero */

.container-hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-hero h1 {
    font-size: 4rem;
    color: var(--cor-titulos);
    margin-bottom: 20px;
}

.container-hero p {
    font-size: 1.5rem;
    color: var(--cor-texto-dark);
    max-width: 600px;
}

.container-hero button{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-light);
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 16px;
    margin-top: 30px;
    font-weight: bold;
}

.container-hero button:hover {
    background-color: var(--cor-secundaria-transparente);
    cursor: pointer;
    transition: background-color 0.3s,  color 0.1s;
    color: var(--cor-texto-dark);
}

.container-hero a {
    text-decoration: none;
    color: inherit;
    padding: 15px 30px;
}

/* Estilo Problema */

